#####  **Import Required Libraries**

In [62]:
import pandas as pd

#####  **Read the input Data**

In [63]:
# Load the dataset
df = pd.read_csv('../resources/data/input/online_retail.csv')

# Display the first 5 rows of the dataset
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

#####  **Data Cleaning**

In [64]:
# Check the shape of the dataset
print(f"Dataset Shape: {df.shape}")

# Check for missing values
print(df.isnull().sum())

# Check data types of each column
print(df.dtypes)

Dataset Shape: (541909, 8)
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [65]:
# Drop rows where 'CustomerID' is missing
df = df.dropna(subset=['CustomerID'])

# Verify if missing values are handled
print(df.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [66]:
print(f"Dataset Shape after filtering null customer ids: {df.shape}")

Dataset Shape after filtering null customer ids: (406829, 8)

In [67]:
# Check for duplicate rows
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 5225

In [68]:
# Drop duplicate rows
df = df.drop_duplicates()

# Verify if duplicates are removed
print(f"Number of duplicate rows after cleaning: {df.duplicated().sum()}")

Number of duplicate rows after cleaning: 0

In [69]:
print(f"Dataset Shape after dropping duplicates: {df.shape}")

Dataset Shape after dropping duplicates: (401604, 8)

In [70]:
# Get dataframe after removing cancelled invoices
df = df[~df['InvoiceNo'].str.startswith('C')]

In [71]:
print(f"Number after filtering cancelled invoices: {df.shape}")

Number after filtering cancelled invoices: (392732, 8)

In [72]:
# Convert 'InvoiceDate' to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='mixed', dayfirst=True)

# Verify the data type
print(df['InvoiceDate'].dtype)

datetime64[ns]

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392732 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  object
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  datetime64[ns]
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  float64
 7   Country      392732 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.0+ MB

#####  **Write Output**

In [61]:
# Save the cleaned dataset
df.to_csv('../resources/data/output/online_retail_cleaned.csv', index=False)